{% extends "chat_base.html" %}

{% block head %}
{{ block.super }}

{% endblock %}


{% block main %}
<main class="container-fluid d-flex flex-column w-100 h-100">
    <div class="row" style="flex-shrink:0;">
        <div class="col-3">
            <select name="" id="cameraSelect" class="custom-select">
                <option value="">Select camera</option>
            </select>
        </div>
    </div>
    <div class="row py-2" style="flex:1 1 auto;">
        <div class="col text-center">
            <video class="h-100" style="max-width:100%; max-height:100%;" id="video" autoplay></video>
            <canvas id="canvas" class="d-none"></canvas>
        </div>
    </div>
    
</main>

<script>
    var streaming= false;
    const video = document.querySelector('#video');
    let canvas = document.querySelector("#canvas");
    const constraints = {
        audio: false,
        video: {
            width: {
                min: 1280,
                ideal: 1920,
                max: 2560,
            },
            height: {
                min: 720,
                ideal: 1080,
                max: 1440
            },
            //開前鏡頭
            facingMode: "user"
        }
    };
    function startStream(){
        // 開始串流
        navigator.mediaDevices.getUserMedia({ video: constraints }).then((stream) => {
            // start stream
            video.srcObject = stream;
            video.play();
            streaming= true;
        });
    }
    
    if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
        startStream();
        
        // camera selection
        navigator.mediaDevices.enumerateDevices().then((devices) => {
            const videoDevices = devices.filter(device => device.kind === 'videoinput');
            console.log(videoDevices);
            const options = videoDevices.map(videoDevice => {
                return `<option value="${videoDevice.deviceId}">${videoDevice.label}</option>`;
            });
            document.querySelector("#cameraSelect").innerHTML = options.join('');
        });
        // switch camera
        document.querySelector("#cameraSelect").addEventListener('change', () => {
            constraints.deviceId= document.querySelector("#cameraSelect").value;
            startStream();
        })
    }
    
    function sendVideoShot() {
        // 調整canvas的長寬比例，以符合video串流進來的影片的長寬比
        var aspect_ratio = video.videoWidth / video.videoHeight;
        // 把畫質縮到大約350*250左右
        canvas.width = 600 * aspect_ratio / (aspect_ratio + 1);
        canvas.height = 600 * 1 / (aspect_ratio + 1);
        // 將video上的畫面等比複製到canvas上
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        // data url of the image(以編碼形式)
        var image_data_url = canvas.toDataURL('image/jpeg');
        var form = new FormData();
        // 使用Django作為伺服器時，要傳POST的話，必須多給一個csrfmiddlewaretoken的值，才能通過Django的驗證確保安全性。flask則不需要這個步驟
        form.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        form.append('imageData', image_data_url);
        fetch(window.location.pathname, { method: "POST", body: form }).then(response => response.json()).then(response => {
            if (response["result"] != null) {
                // window.location.href = "/chat/" + response["result"];
            }
        });
    }
    // 每0.5秒像伺服器發送截圖
    // window.setInterval(() => {
    //     if(streaming){
    //         sendVideoShot();
    //     }else{
    //         console.log("no signal")
    //     }
    // }, 500)

</script>
{% endblock %}