




@media(max-width:1199.99px){
    html{
        font-size: 24pt;
    }
}


main {
    min-height: 100vh;
    padding-top: 120px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    background-size: 100% 100%;
}

.white-space-break{
    white-space: break-spaces;
}

.flex-break{
    flex-basis: 100%;
}

.minH-100{
    min-height:100%;
}

.w-fit{
    width: fit-content;
}

.w-min{
    width: min-content;
}

.p-0{
    padding: 0;
}

.m-0 {
    margin: 0;
}

.ms--1 {
    margin-left: -1rem !important;
}

.ms--2 {
    margin-left: -1.5rem !important;
}

.fs-05{
    font-size: 0.5rem;
}

.fs-025 {
    font-size: 0.25rem;
}

